body {
    font-family: cursive;
}
/* Главная */
.row.top-place {
    height: 75px;
    background-color: #36c7d0;
}
.logo img {
    width: 75%;
    height: auto;
    padding-top: 20px;
    padding-left: 1em;
}
.mail-in-right-side {
    display: inline-block;
    float: right;
    padding-top: 20px;
    padding-right: 15px;
}
.mail-in-right-side img, p, .logo {
    display: inline-block;
}
.mail-in-right-side p a {
    text-decoration: none;
    color: white;
    font-size: 18px;
}
.mail-in-right-side img {
    width: 30px;
}
.mail-in-right-side p {
    margin: 0;
    vertical-align: top;
}
.row.main-place {
    height: 500px;
    background: url(../img/main.png);
    background-size: cover;
}
form#main-form {
    position: absolute;
    right: 15%;
    top: 45%;
    width: 20%;
    background-color: rgba(255,255,255,0.7);
    padding: 2%;
    border-radius: 6px;
    box-shadow: 0 0 20px rgba(0,0,0,0.3);
    font-size: 15px;
}
.form-wrap {
    padding: 4px 0;
}
input, button, select, textarea {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    height: 30px;
    width: 100%;
    border-radius: 4px;
    border: 1px solid #afa4a4;
    padding-left: 7px;
}
select#user-type {
    padding-left: 1px;
}
button#enter {
    width: 80px;
    float: right;
    background-color: rgb(49, 214, 224);
    color: white;
    border-color: #2ec3cc;
}
a#registration {
    color: #3a9aa0;
}
.main-title {
    text-align: center;
    padding: 30px 0 10px;
    font-size: 35px;
    font-weight: 600;
    color: #29dcff;
    text-shadow: #427e82 1px 1px 0, #427e82 -1px -1px 0, #427e82 -1px 1px 0, #427e82 1px -1px 0;
}
.title {
    padding: 20px;
    text-align: center;
    font-size: 25px;
    color: #a3ff26;
    font-weight: 600;
    text-shadow: #7faf3f 1px 1px 0, #7faf3f -1px -1px 0, #7faf3f -1px 1px 0, #7faf3f 1px -1px 0;
}
.info-block {
    text-align: center;
    margin: 30px 0;
    font-size: 16px;
    color: #333;
}
.block-text {
    padding-top: 10px;
}
div#rights {
    color: white;
    padding: 28px 0 0 30px;
    font-size: 16px;
}

/* Регитсрация */
div#choice {
    text-align: center;
}
div#registr-place {
    width: 600px;
    margin: 0 auto 20px;
    padding: 20px;
    border: 2px dashed #b3afaf;
}
.inp-wrap {
    padding-top: 10px;
    text-align: center;
}
input#reg-sad-tel {
    margin-top: -4px;
}
input#uploader {
    width: 370px;
    float: right;
    padding-top: 3px;
}
label#label-lic {
    font-weight: normal;
    float: left;
    font-size: 15px;
    padding-top: 3px;
    margin-bottom: 16px;
}
button.reg {
    width: 200px;
    background-color: #a7ec49;
}

/* Меню */
.top-menu {
    height: 40px;
    background-color: #36c7d0;
    color: white;
    font-size: 17px;
    line-height: 2;
}
.menu-item {
    float: left;
    padding-left: 20px;
    cursor: pointer;
}
.menu-item:hover{
    text-decoration: underline;
}
div#exit {
    float: right;
    padding-right: 20px;
}

/* Кнопки */
.button-place {
    padding-left: 15px;
    margin-bottom: 30px;
    margin-top: 30px;
}
.button-place button {
    width: auto;
}
button.add-but {
    background-color: #a7ec49;
}
button.update-but {
    background-color: #ebec49;
}
button.remove-but {
    background-color: #ec8349;
}
button.active-but {
    background-color: #a8e3e6;
}

/* О саде */
div#no_img {
    width: 180px;
    height: 200px;
    margin: 0 auto;
    background-color: #d7dce0;
    text-align: center;
}
img#img_no {
    width: 70px;
    margin-top: 59px;
}
input#uploader-main-photo {
    width: 80%;
    float: right;
    padding-top: 3px;
}
input#uploader-photo {
    width: 500px;
    float: right;
    padding-top: 3px;
}
div#choice-photo {
    width: 800px;
    margin: 0 auto;
}
button#load-photo {
    width: 100px;
    float: right;
    background-color: #a7ec49;
    margin-left: 15px;
}
table {
    background-color: transparent;
    width: calc(100% - 30px);
    margin: 0 auto;
}

/* Группы */
input[type="checkbox"] {
    display:none;
}
input[type="checkbox"] + label span {
    display:inline-block;
    width:26px;
    height:26px;
    margin: 6px 4px 0 0;
    vertical-align:middle;
    background:url(../img/checkbox.png) left top no-repeat;
    cursor:pointer;
}
input[type="checkbox"]:checked + label span {
    background:url(../img/checkbox.png) -26px top no-repeat;
}
th.t-gr-name {
    text-align: center;
}
td.t-gr, td.t-waiting {
    text-align: center;
}
table#table-groups {
    width: 59%;
    margin: 0 0 0 15px;
}
th.t-gr-name, th.t-waiting-name {
    text-align: center;
    font-size: 16px;
    font-weight: normal;
    padding-bottom: 10px;
}
.t-num{
    cursor: pointer;
}